body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa;
    margin: 0;
}

#quiz-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

#question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#answers {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00796b;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}


#timer-container {
    margin-top: 20px;
    font-size: 1em;
    color: #555;
}

#score-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f8e9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#score-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#score-container p {
    font-size: 1.2em;
}

#next-btn{
    background-color: blue;
    color:white;
    width:100%;
} 